{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <h1>This is it</h1>
        <div class="row">
            <ul class="list-group">
                {% for topic in topics %}
                    <li class="list-group-item">
                        {{ topic.message }}
                        <span class="badge">{{ topic.replies | length }}</span>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}